.footer{
    width: 100%;
    height: 5vh;
    
    display: flex;
    justify-content: space-between;
}
.social{
   margin-left: 2rem;
   padding-left: 1rem;
   cursor: pointer;
   
}
.copyRights{
    display: flex;
    margin-right: 4rem;
}
.copyRights p{
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
#cr{
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
#fb{
   margin-right: 1rem;
   font-size: 1rem;
    color: rgb(103, 101, 101);
}
#insta{
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
#tw{
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
#pin{
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
#in{
    margin-right: 1rem;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}
