.dis{
    height: 110vh;
    width: 100%;
    background-color: rgb(244, 241, 225);
    overflow: hidden;
    margin-bottom: 2rem;
    font-family: 'Inter',sans-serif;
}
.discuss{
     margin-top: 2rem;
    margin-left: 3rem;
    padding-top: 3rem;
    padding-left: 4rem;
}
.discuss h1{
    font-size:4rem;
}
.contBtn{
     background-color:rgb(244, 241, 225) ;
    font-size: 1.2rem;
    width: 6.5rem;
    padding: 4px;
    font-weight: 500;
    color: #5c64cf;
    margin-left: 13px;
    border: 2px solid #5c64cf;
    transform: rotate(0.95turn);
    transform-origin: left;
}
.contGrid{
    display: flex;
    justify-content:space-evenly;
}
.getDiv{
    width: 40vw;
    height: 70vh;
    background: white;
    margin-top: 2rem;
    margin-left: -5.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.getDiv p{
    font-size: 1rem;
    color: rgb(103, 101, 101);
    margin-top: 1rem;
}
.nameEmail{
    display: flex;
    justify-content: space-between;
}
#name1{
    width: 15vw;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
}
.nameEmail input{
    margin-top: 1rem;
}
#email{
    width: 15vw;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
}
#sub{
    margin-top: 1rem;
     width: 100%;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
}
#message{
    margin-top: 1rem;
     width: 100%;
    height: 16vh;
    border: 1.5px solid black;
    padding-left: 1rem;
    padding-bottom: 4rem;
}
.send{
     background: rgb(233, 181, 49);
    height: 2.5rem;
    width: 8rem;
    font-weight: 600;
    border: 2px solid black;
    margin-left: 13rem;
    margin-top: 0.7rem;
    cursor: pointer;
}
