.contact {
    height: 110vh;
    width: 100%;
    background-color: #f3c770;
    overflow: hidden;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
}

.discuss {
    margin-top: 2rem;
    margin-left: 3rem;
    padding-top: 3rem;
    padding-left: 4rem;
}

.discuss h1 {
    font-size: 4rem;
}

.contBtn {
    background-color: #f3c770;;
    font-size: 1.2rem;
    width: 6.5rem;
    padding: 4px;
    font-weight: 500;
    color: #5c64cf;
    margin-left: 13px;
    border: 2px solid #5c64cf;
    transform: rotate(0.95turn);
    transform-origin: left;
}

.contGrid {
    display: flex;
    justify-content: space-evenly;
}

.getDiv {
    width: 40vw;
    height: 70vh;
    background: white;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.getDiv p {
    font-size: 1rem;
    color: rgb(103, 101, 101);
    margin-top: 1rem;
}

.nameEmail {
    display: flex;
    justify-content: space-between;
}

#name1 {
    width: 15vw;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

.nameEmail input {
    margin-top: 1rem;
}

#email {
    width: 15vw;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

#sub {
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    border: 1.5px solid black;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
}

#message {
    margin-top: 1rem;
    width: 100%;
    height: 16vh;
    border: 1.5px solid black;
    padding-left: 1rem;
    padding-bottom: 4rem;
    padding-top: 1rem;
    font-family: 'Inter', sans-serif;
    resize: vertical;
}

.send {
    background: rgb(233, 181, 49);
    height: 2.5rem;
    width: 8rem;
    font-weight: 600;
    border: 2px solid black;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.send:hover {
    background:#6b61ff;
    border: white;
    color: white;
}

.details {
    width: 40vw;
    height: 80vh;
}

.detailFlex {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.phoneIcon,
.emailIcon,
.locIcon {
    width: 3.3vw;
    height: 6vh;
    margin-top: 1.3rem;
    margin-left: 12.5rem;
    background: #6b61ff;
    color: #fff;
    border-radius: 49%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoneIcon #phone,
.emailIcon #email1,
.locIcon #loc {
    width: 75%;
    height: 75%;
}

.phone,
.email,
.location {
    margin-top: 0.5rem;
    border-bottom: 2.5px solid black;
    padding-bottom: 1rem;
}

.email {
    width: 70vw;
    border-bottom: 1.5px solid black;
}

.phone p,
.email p,
.location p {
    font-size: 1rem;
    color: rgb(103, 101, 101);
    margin-bottom: 0.5rem;
}

.phone h2,
.email h2,
.location h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.location {
    border-bottom: none;
    overflow: hidden;
}

.svgDiv {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding-left: 3rem;
}

.svgDiv img {
    max-width: 100%;
    height: auto;
}

/* Large Desktops (1440px and above) */
@media screen and (min-width: 1440px) {
    .contact {
        height: 100vh;
    }
    
    .discuss {
        margin-left: 5rem;
        padding-left: 5rem;
    }
    
    .discuss h1 {
        font-size: 4.5rem;
    }
    
    .getDiv {
        width: 35vw;
        height: 65vh;
    }
    
    .details {
        width: 35vw;
        height: 70vh;
    }
}

/* Medium Desktops (1200px - 1439px) */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    .contact {
        height: auto;
        min-height: 100vh;
    }
    
    .getDiv {
        width: 38vw;
        height: 75vh;
    }
    
    .details {
        width: 38vw;
        height: 80vh;
    }
    
    .discuss {
        margin-left: 4rem;
        padding-left: 4rem;
    }
    
    .discuss h1 {
        font-size: 3.5rem;
    }
}

/* Tablets Landscape (992px - 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .contact {
        height: auto;
        min-height: 100vh;
        padding-bottom: 3rem;
    }
    
    .discuss {
        margin-left: 2rem;
        padding-left: 3rem;
        padding-top: 2rem;
    }
    
    .discuss h1 {
        font-size: 3rem;
    }
    
    .contGrid {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .getDiv,
    .details {
        width: 80vw;
        height: auto;
        min-height: auto;
    }
    
    .getDiv {
        margin-top: 1rem;
        padding: 1.5rem;
    }
    
    #name1,
    #email {
        width: 35vw;
    }
    
    .send {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .phoneIcon,
    .emailIcon,
    .locIcon {
        width: 50px;
        height: 50px;
        margin-left: 3rem;
    }
}

/* Tablets Portrait (768px - 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact {
        height: auto;
        min-height: auto;
        padding-bottom: 3rem;
    }
    
    .discuss {
        margin-left: 1rem;
        padding-left: 2rem;
        padding-top: 1.5rem;
    }
    
    .discuss h1 {
        font-size: 2.8rem;
    }
    
    .contBtn {
        font-size: 1.1rem;
        width: 6rem;
        margin-left: 0;
    }
    
    .contGrid {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 1rem;
    }
    
    .getDiv,
    .details {
        width: 90vw;
        height: auto;
        min-height: auto;
    }
    
    .getDiv {
        margin-top: 1rem;
        padding: 1.5rem;
    }
    
    #name1,
    #email {
        width: 40vw;
    }
    
    .send {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .detailFlex {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
    .phoneIcon,
    .emailIcon,
    .locIcon {
        width: 45px;
        height: 45px;
        margin-left: 2rem;
    }
    
    .phone,
    .email,
    .location {
        margin-right: 2rem;
        margin-top: 0;
        padding-bottom: 0.5rem;
    }
    
    .svgDiv {
        padding-left: 0;
        margin-top: 2rem;
    }
}

/* Large Mobile (600px - 767px) */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .contact{
        height: auto;
    }
    .discuss {
        margin-left: 0.5rem;
        padding-left: 1.5rem;
        padding-top: 1rem;
        text-align: center;
    }
    
    .discuss h1 {
        font-size: 2.5rem;
    }
    
    .contBtn {
        font-size: 1rem;
        width: 5.5rem;
        margin: 0 auto;
        display: block;
    }
    
    .contGrid {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0 1rem;
    }
    
    .getDiv,
    .details {
        width: 95vw;
        height: auto;
        min-height: auto;
    }
    
    .getDiv {
        margin-top: 1rem;
        padding: 1.2rem;
    }
    
    .nameEmail {
        flex-direction: column;
        gap: 1rem;
    }
    
    #name1,
    #email {
        width: 100%;
    }
    
    #message {
        height: 12vh;
        padding-bottom: 2rem;
    }
    
    .send {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
    
    .detailFlex {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    
    .phoneIcon,
    .emailIcon,
    .locIcon {
        width: 40px;
        height: 40px;
        margin-left: 1rem;
    }
    
    .phone,
    .email,
    .location {
        margin-right: 1rem;
        padding-bottom: 0.5rem;
    }
    
    .svgDiv {
        padding-left: 0;
        margin-top: 1.5rem;
    }
    
    .svgDiv img {
        max-width: 90%;
    }
}

/* Small Mobile (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
    .contact {
        padding-bottom: 2rem;
    }
    
    .discuss {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        text-align: center;
        margin-left: 0;
    }
    
    .discuss h1 {
        font-size: 2.2rem;
    }
    
    .contBtn {
        font-size: 0.9rem;
        width: 5rem;
        padding: 3px;
    }
    
    .getDiv {
        padding: 1rem;
    }
    
    .getDiv p {
        font-size: 0.9rem;
        margin-top: 0.8rem;
    }
    
    .phone h2,
    .email h2,
    .location h2 {
        font-size: 1rem;
    }
    
    #name1,
    #email,
    #sub,
    #message {
        height: 1.8rem;
        padding: 0.8rem;
        font-size: 0.9rem;
    }
    
    #message {
        height: 10vh;
        padding-bottom: 1.5rem;
    }
    
    .send {
        height: 2.2rem;
        font-size: 0.9rem;
    }
    
    .phoneIcon,
    .emailIcon,
    .locIcon {
        width: 35px;
        height: 35px;
        margin-left: 0.5rem;
    }
    
    .phoneIcon #phone,
    .emailIcon #email1,
    .locIcon #loc {
        width: 70%;
        height: 70%;
    }
    
    .phone p,
    .email p,
    .location p {
        font-size: 0.9rem;
    }
}

/* Extra Small Mobile (below 480px) */
@media screen and (max-width: 479px) {
    .contact {
        padding-bottom: 1.5rem;
    }
    
    .discuss {
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    
    .discuss h1 {
        font-size: 1.8rem;
    }
    
    .contBtn {
        font-size: 0.8rem;
        width: 4.5rem;
        padding: 2px;
    }
    
    .getDiv {
        padding: 0.8rem;
        margin-top: 0.5rem;
    }
    
    .getDiv p {
        font-size: 0.85rem;
        margin-top: 0.5rem;
    }
    
    #name1,
    #email,
    #sub,
    #message {
        height: 1.5rem;
        padding: 0.6rem;
        font-size: 0.85rem;
    }
    
    #message {
        height: 8vh;
        padding-bottom: 1rem;
    }
    
    .send {
        height: 2rem;
        font-size: 0.85rem;
        width: 100%;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    
    .detailFlex {
        gap: 1rem;
    }
    
    .phoneIcon,
    .emailIcon,
    .locIcon {
        width: 30px;
        height: 30px;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }
    
    .phone,
    .email,
    .location {
        margin-right: 0.5rem;
        padding-bottom: 0.3rem;
    }
    
    .phone h2,
    .email h2,
    .location h2 {
        font-size: 0.9rem;
    }
    
    .phone p,
    .email p,
    .location p {
        font-size: 0.85rem;
    }
    
    .svgDiv {
        margin-top: 1rem;
    }
    
    .svgDiv img {
        max-width: 80%;
    }
}

/* Height adjustments for very short screens */
@media screen and (max-height: 700px) and (min-width: 768px) {
    .contact {
        height: auto;
        min-height: 120vh;
    }
    
    .getDiv {
        height: auto;
        min-height: 65vh;
    }
}

/* Height adjustments for very tall screens */
@media screen and (min-height: 1000px) and (min-width: 768px) {
    .contact {
        height: 90vh;
    }
    
    .getDiv {
        height: 65vh;
    }
}