#service{
    height: 100%;
    width: 100%;
    background-color: rgb(248, 238, 200);
    overflow: hidden;
}
.services{
    margin-top: 2rem;
    margin-left: 3rem;
    padding-top: 3rem;
    padding-left: 4rem;
}

.servicebtn{
    font-size: 1.2rem;
    width: 6.5rem;
    padding: 4px;
    font-weight: 500;
    color: #5c64cf;
    margin-left: 13px;
    border: 2px solid #5c64cf;
    transform: rotate(0.92turn);
    transform-origin: left;
}
.service{
    font-family: 'Inter',sans-serif;
    font-size:3rem;
}
.sectionsGrid{
    font-family: 'Inter', sans-serif;
    margin-top: 2rem;
    margin-left: 8rem;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(2, 50vh);
    grid-gap: 3rem 3rem;
    overflow: hidden;

}
.webDesign1{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.webDesign1 h1{
    font-size: 3rem;
}
.webDesign1 h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.webDesign1 p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.webDesign{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.webDesign h1{
    font-size: 3rem;
}
.webDesign h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.webDesign p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.development{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.development h1{
    font-size: 3rem;
}
.development h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.development p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.development1{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.development1 h1{
    font-size: 3rem;
}
.development1 h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.development1 p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.seoMarketing1{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.seoMarketing1 h1{
    font-size: 3rem;
}
.seoMarketing1 h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.seoMarketing1 p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.seoMarketing{
    padding: 2rem;
    background: white;
    border: 1px solid black;

}
.seoMarketing h1{
    font-size: 3rem;
}
.seoMarketing h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.seoMarketing p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}

.webDesign:hover{
    box-shadow: 5px 5px 1px rgb(0,0,0.3);
}
.development:hover{
    box-shadow: 5px 5px 1px rgb(0,0,0.3);
}
.seoMarketing:hover{
     box-shadow: 5px 5px 1px rgb(0,0,0.3);
}
.webDesign1:hover{
     box-shadow: 5px 5px 1px rgb(0,0,0.3);
}
.development1:hover{
     box-shadow: 5px 5px 1px rgb(0,0,0.3);
}
.seoMarketing1:hover{
     box-shadow: 5px 5px 1px rgb(0,0,0.3);
}

@media (min-width: 480px) and (max-width: 770px) {
    .sectionsGrid {
        margin-left: 4rem;
        grid-template-columns: repeat(1, 90%);
        grid-template-rows: repeat(6, 50vh);
    }
    .services{
        margin-left: 1rem;
    }
}
@media (min-width: 771px) and (max-width: 1100px) {
    .sectionsGrid {
        margin-left: 4rem;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(6, 50vh);
    }
    .services{
        margin-left: 1rem;
    }
}