#intro {
    height: calc(100vh - 4rem);
    width: 100%;
    padding: 2rem 1rem 0;
    margin-top: 4rem;
    margin-left: 6rem;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.introContent {
   height: 100vh;
   width: 100%;
   max-width: 600px;
   margin-top: -4rem;
   font-size: 3rem;
   font-weight: 600;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 1rem;
   box-sizing: border-box;
}

.bg {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
    max-width: 50%;
}

.hello {
    font-size: 1rem;
    width: 10vh;
    padding: 4px;
    font-weight: 500;
    color: #5c64cf;
    margin-left: 13px;
    border: 2px solid #5c64cf;
    transform: rotate(0.92turn);
    transform-origin: left;
}

.introText {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-size: 3.5rem;
    line-height: 1.2;
    word-wrap: break-word;
}

.introPara {
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(72, 67, 67);
    margin-top: 1rem;
    max-width: 100%;
}

.btn {
    background: #5c64cf;
    color: #fff;
    padding: 1rem 2rem;
    font: 1rem sans-serif;
    font-weight: 700;
    border: 2px solid;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #f7af24;
    color: black;
}

/* Large Desktops (1200px and above) */
@media screen and (min-width: 1200px) {
    #intro {
        max-width: 85rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .introContent {
        max-width: 700px;
    }
    
    .bg {
        max-width: 55%;
        height: 85vh;
    }
}

/* Laptops & Small Desktops (1024px - 1199px) */
@media screen and (max-width: 1199px) {
    #intro {
        margin-left: 4rem;
    }
    
    .introText {
        font-size: 3rem;
    }
    
    .bg {
        max-width: 48%;
        height: 75vh;
    }
}

/* Tablets Landscape (992px - 1023px) */
@media screen and (max-width: 1023px) {
    #intro {
        margin-left: 3rem;
        padding: 1.5rem 1rem 0;
    }
    
    .introContent {
        max-width: 550px;
    }
    
    .introText {
        font-size: 2.8rem;
    }
    
    .bg {
        max-width: 45%;
        height: 70vh;
        top: 5rem;
    }
}

/* Tablets Portrait (768px - 991px) */
@media screen and (max-width: 991px) {
    #intro {
        margin-left: 2rem;
        height: auto;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .introContent {
        height: auto;
        margin-top: 2rem;
        padding: 2rem 0;
    }
    
    .bg {
        position: relative;
        top: auto;
        right: auto;
        max-width: 55%;
        height: auto;
        max-height: 50vh;
        margin-top: 2rem;
        z-index: 0;
    }
    
    .introText {
        font-size: 2.5rem;
    }
    
    .introPara {
        font-size: 1.1rem;
    }
}

/* Large Mobile (576px - 767px) */
@media screen and (max-width: 767px) {
    #intro {
        margin-left: 1rem;
        flex-direction: column;
        text-align: center;
        padding-top: 3rem;
    }
    
    .introContent {
        width: 100%;
        margin-top: 0;
        padding: 1rem 0;
        align-items: center;
    }
    
    .hello {
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 1.7rem;
    }
    
    .introText {
        font-size: 2.2rem;
        text-align: center;
    }
    
    .introPara {
        font-size: 1rem;
        text-align: center;
        padding: 0 1rem;
    }
    
    .bg {
        max-width: 70%;
        max-height: 40vh;
        margin: 1.5rem auto;
    }
    
    .btn {
        padding: 0.8rem 1.8rem;
        font-size: 0.9rem;
    }
}

/* Small Mobile (480px - 575px) */
@media screen and (max-width: 575px) {
    #intro {
        margin-left: 0;
        padding: 2rem 0.5rem 0;
    }
    
    .introText {
        font-size: 2rem;
        line-height: 1.3;
    }
    
    .introPara {
        font-size: 0.95rem;
        padding: 0 0.5rem;
    }
    
    .bg {
        max-width: 85%;
        max-height: 35vh;
    }
    
    .hello {
        width: 8vh;
        font-size: 0.9rem;
        padding: 3px;
    }
    
    .btn {
        padding: 0.7rem 1.5rem;
        font-size: 0.85rem;
    }
}

/* Extra Small Mobile (below 480px) */
@media screen and (max-width: 479px) {
    #intro {
        margin-top: 3rem;
        padding-top: 1rem;
    }
    
    .introContent {
        padding-top: 0;
    }
    
    .introText {
        font-size: 1.8rem;
    }
    
    .introPara {
        font-size: 0.9rem;
        line-height: 1.5;
    }
    
    .bg {
        max-width: 90%;
        max-height: 30vh;
    }
    
    .hello {
        width: 7vh;
        font-size: 0.85rem;
        margin-top: 3rem;
    }
    
    .btn {
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
    }
}

/* Height-based adjustments for very tall or short screens */
@media screen and (max-height: 700px) and (min-width: 768px) {
    #intro {
        height: auto;
        min-height: calc(100vh - 4rem);
    }
    
    .introContent {
        height: auto;
        padding: 3rem 0;
    }
    
    .bg {
        height: 65vh;
        top: 2rem;
    }
}

/* For screens with very high resolution */
@media screen and (min-width: 1600px) {
    #intro {
        max-width: 100rem;
    }
    
    .introText {
        font-size: 4rem;
    }
    
    .introPara {
        font-size: 1.3rem;
    }
    
    .bg {
        max-width: 60%;
        height: 90vh;
    }
}