#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    padding-top: 2rem;
    margin:0 auto;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
}

.introContent{
   height: 100vh;
   width: 60vh;
   margin-top: -4rem;
   font-size: 3rem;
   font-weight: 600;
   display: flex;
   flex-direction:column ;
   justify-content: center;

}
.bg{
    position: absolute;
    top: 1rem;
    margin-top: 2rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 80vh;
}
.hello{
    font-size: 1rem;
    width: 10vh;
    padding: 4px;
    font-weight: 500;
    color: #5c64cf;
    margin-left: 13px;
    border: 2px solid #5c64cf;
    transform: rotate(0.92turn);
    transform-origin: left;
}
.introText{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-size: 4rem;
}
.introPara{
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(72, 67, 67);
    margin-top: 1rem;
}
.btn{
    background: #5c64cf;
    color:#fff;
   padding: 1rem 2rem;
   font: 1rem sans-serif;
   font-weight: 700;
   border: 2px solid;
   cursor: pointer;

}