@import 'devicon/devicon.min.css';

.skillGrid{
    font-family: 'Inter', sans-serif;
    height: 120vh;
    width: 100%;
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
   
}
.expBtn{
    font-size: 1rem;
    width: 14vh;
    padding: 7px;
    font-weight: 700;
    color: #5c64cf;
    margin-top: 4rem;
    margin-left: 1rem;
    border: 2px solid #5c64cf;
    transform: rotate(0.92turn);
    transform-origin: left;
}

.skills{
    width: 45%;
    margin-left: 1.5rem;
}
.skills h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.skills p{
    color: rgb(103, 101, 101);
    font-size: 1.2rem;
    margin-left: 1.5rem;
}
.skills h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    font-size: 2rem;
}
.mySkills{
   padding-bottom: 1rem;
   display: grid;
   grid-template-columns: repeat(2 , 45%);
   gap: 1rem 1rem;
   justify-content: center;
   
}
.htmlIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.htmlIcon:hover{
    box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.htmlIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.cssIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.cssIcon:hover{
    box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.cssIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.reactIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.reactIcon:hover{
    box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.reactIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.angularIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.angularIcon:hover{
     box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.angularIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.appleIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.appleIcon:hover{
    box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.appleIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.androidIcon{
    border: 2px solid black;
    padding: 1rem;
    overflow: hidden;
    display: flex;
}
.androidIcon:hover{
     box-shadow: 3px 3px 1px rgb(0,0,0.3);
}
.androidIcon p{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.experience{
    width: 45%;
    margin-top: 4rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.experience h1{
    font-size: 3rem;

}
#exp1{
    display: flex;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid black;
}
#exp1 .two{
    margin-left: 2rem;
}
#exp1 .two p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
#exp2{
    display: flex;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid black;
}
#exp2 .two{
    margin-left: 2rem;
}
#exp2 .two p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
#exp3{
    display: flex;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 2px solid black;
}
#exp3 .two{
    margin-left: 2rem;
}
#exp3 .two p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
#exp4{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-top: 2px solid black;
   
}
#exp4 .two{
    margin-left: 2rem;
}
#exp4 .two p{
    color: rgb(103, 101, 101);
    font-size: 1rem;
}
.avatar{
    height: 20vh;
    width: 11vw;
    margin-left: 8rem;
    background: rgb(236, 211, 190);
    border-radius: 49% 49%;
    justify-content: center;
    overflow: hidden;
}
.experience img{
    margin-top: 0.4rem;
    height: 100%;
    width: 100%;
}
.hireMe{
    background: rgb(233, 181, 49);
    height: 3rem;
    width: 6rem;
    font-weight: 600;
    border: 2px solid black;
    margin-left: 10rem;
    margin-top: 3rem;
}